@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Barlow:wght@200;500&family=Chakra+Petch:wght@600&family=Fredoka+One&family=Gugi&family=Lobster+Two:ital@0;1&family=Manrope&family=Poppins:wght@300;500&family=Space+Grotesk:wght@300;400;500&family=Staatliches&family=Yeseva+One&display=swap');

@font-face {
    font-family: primary;
    src: url(media/CQMono.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#B6E2AF, lightgreen);
    background-repeat: no-repeat;
    height: 1500px;
    font-family: 'Chakra Petch', sans-serif;
}

::selection {
    background-color: #FFAD5A;
    color: white;
}

body::-webkit-scrollbar {
    height: 20px;
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #0E141A;
    box-shadow: inset 10px 10px 10px 10px black;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#83ff52, #e08722);
}

@keyframes dropAnimation {
    from {
        border-radius: 50%;
    }

    to {
        border-radius: 10%;
        height: 0px;
        width: 0px;
        background-color: #FFE993;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

.dashboard_section {
    position: fixed;
    top: 0;
    /* border: 2px solid; */
    background-color: #FFE993;
    height: 99.99%;
    width: 15%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 0px 0px #FFE993;
}

.circle {
    height: 30px;
    width: 30px;
    /*border-radius: 50%;*/
    background-color: rgb(240, 121, 10);
    display: inline-block;
    float: left;
    margin: 1%;
    margin-right: 2%;
    margin-top: 5%;
    animation-name: dropAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

@keyframes borderAnimation {
    from {
        border-image: linear-gradient(rgba(163, 106, 238, 0.911), rgba(18, 205, 230, 0.884));
        border-image-slice: 1;
        border-radius: 2px;
    }

    to {
        border-image: linear-gradient(orange, rgb(19, 212, 19));
        border-image-slice: 1;
        border-radius: 9px;
    }
}

div.border_animation {
    height: 100px;
    width: 100px;
    border: 5px solid;
    margin: auto;
    margin-top: 2%;
    animation-name: borderAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes buttonAnimation {
    from {
        color: black;
    }

    to {
        color: white;
    }

}

.ani_btn {
    padding: 1%;
    font-size: 3em;
    font-family: 'primary', sans-serif;
    background-color: #52e725bb;
    display: block;
    margin: auto;
    margin-top: 10%;
    animation-name: buttonAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}

.ani_btn:hover {
    background-color: #d68557;
}