* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#B6E2AF, lightgreen);
    background-repeat: no-repeat;
    height: 1000px;
}



.dashboard_section {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* border: 2px solid; */
    background-color: #FFE993;
    height: inherit;
    width: 15%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 0px 0px #FFE993;
}

